 body{
    margin: 10px;
    padding: 10px;
    background-color: lightblue !important;

}

.jumbotron, .instructions{
    text-align: center;
    line-height: 30px;
    background-color:lightblue !important;
}

h2, .scoreMarker, .totalWins, .totalLosses{
    text-align: center;
    line-height: 40px;
 
}

.gem{
    display: inline;
    margin-left: 25%;
    margin-right: -25%;
   
    background-color: grey !important;
}
